<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Beste ouders,

    u liet ons weten dat uw kind zopas de diagnose diabetes kreeg,
    en we vermoeden dat u zich nu nog in het ziekenhuis bevindt.

    Wij zijn zelf ouders van kinderen met diabetes, en we weten dat dit een zeer zware periode is.
    We zouden jullie dan ook graag bijstaan .........
  </body>
</html>
